@import url(header.scss);

/*NAV sass non compila un cazzo*/
nav{
    height: 100px;
}
/*BANNER*/
.banner{
    height: 450px;
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
    width: 100%;
}